*{
    margin: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    padding: 30px;
}
.container > div{
    width: 100%;
}



.input-group {
    margin-bottom: 10px;
}

.correct-answer {
    color: red;
}

.question {
    margin-bottom: 20px;
}
